ul.menuBar {
    list-style-type: none;
    margin: 0 0 10px 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    position: fixed;
    top: 0px;
    left: 0px;
    right: 0px;
}

li.menuBarButton {
    display: inline;
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    border-right: 1px solid #949494;
    border-left: 1px solid #949494;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif
}

li.right {
    float: right;
}

li.menuBarButton:hover {
    background-color: #111;
}

li.branding {
    position: absolute;
    margin-left: calc(100% / 2);
    color: white;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: xx-large;
}
span.branding {
    vertical-align: middle;
}

li.active, li.active:hover {
    background-color: rgba(255, 0, 0, 0.5);
}