<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hall of Fame</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div id="root"></div>
    <script th:inline="javascript">
        /*<![CDATA[*/
        const localStorageId ="fantasyHOFLeagueData";
        var leagueData;
        if (localStorage.getItem(localStorageId)) {
            leagueData = JSON.parse(localStorage.getItem(localStorageId));
        } else {
            leagueData = [[${leagueData}]];
            localStorage.setItem(localStorageId, JSON.stringify(leagueData));
        }
        /*]]>*/
    </script>
    <script src="bundle.js"></script>
</body>
</html>